// section-cita

.section-cita {
    padding: 42px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-cita h5 {
    font-size: 14px;
    text-align: center;
    color: white;
    font-weight: 700;
}

// section-sobrenosotros 320

.section-sobrenosotros {
    padding: 80px 0 40px 0;
}

.section-sobrenosotros .container {
    display: flex;
    flex-direction: column;
}

.section-sobrenosotros-texto h6 {
    font-weight: 800;
    color: rgb(172, 172, 172);
}

.section-sobrenosotros-texto h3 {
    padding: 8px 0 16px 0;
    font-size: 24px;
    font-weight: 700;
}

.section-sobrenosotros-texto p {
    font-size: 14px;
    width: 100%;
}

.section-sobrenosotros-imagen {
    width: 100%;
    margin-top: 32px;
}

.section-sobrenosotros-imagen img {
    width: 100%;
    height: 320px;
}

// section-sobrenosotros 540

@media only screen and (min-width: 540px) {
    .section-sobrenosotros-texto p {
        font-size: 14px;
        width: 90%;
    }
    
    .section-sobrenosotros-imagen img {
        width: 90%;
    }
}

// section-sobrenosotros 768

@media only screen and (min-width: 768px) {
    .section-sobrenosotros .container {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-areas: "texto imagen";
    }

    .section-sobrenosotros-texto {
        grid-area: texto;
    }

    .section-sobrenosotros-texto h3 {
        font-size: 30px;
        width: 70%;
    }

    .section-sobrenosotros-texto p {
        font-size: 14px;
    }

    .section-sobrenosotros-imagen img {
        height: 340px;
        width: 100%;
    }

    .section-sobrenosotros-imagen {
        grid-area: imagen;
    }
}

// section-sobrenosotros 992

@media only screen and (min-width: 992px) {
    .section-sobrenosotros .container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "texto imagen";
    }
    
    .section-sobrenosotros-texto h3 {
        font-size: 34px;
    }

    .section-sobrenosotros-texto p {
        font-size: 16px;
    }    

    .section-sobrenosotros-imagen img {
        height: 400px;
        margin-top: -24px;
    }
}

// section-programa 320

.section-programa {
    padding: 40px 0;
}

.section-programa .container {
    display: flex;
    flex-direction: column;
}

.section-programa-texto h6 {
    font-weight: 800;
    color: rgb(172, 172, 172);
}

.section-programa-texto h3 {
    padding: 8px 0 16px 0;
    font-size: 24px;
    font-weight: 700;
}

.section-programa-texto p {
    font-size: 14px;
    width: 100%;
}

.section-programa-imagen {
    width: 100%;
    margin-top: 32px;
}

.section-programa-imagen img {
    width: 100%;
    height: 320px;
}

// section-programa 540

@media only screen and (min-width: 540px) {
    .section-programa-texto p {
        font-size: 14px;
        width: 90%;
    }
    
    .section-programa-imagen img {
        width: 90%;
    }
}

// section-programa 768

@media only screen and (min-width: 768px) {
    .section-programa .container {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-areas: "imagen texto";
        grid-gap: 32px;
    }

    .section-programa-texto {
        grid-area: texto;
    }

    .section-programa-texto h3 {
        font-size: 30px;
        width: 70%;
    }

    .section-programa-texto p {
        font-size: 14px;
    }

    .section-programa-imagen img {
        height: 340px;
        width: 100%;
    }

    .section-programa-imagen {
        grid-area: imagen;
    }
}

// section-programa 992

@media only screen and (min-width: 992px) {
    .section-programa .container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "imagen texto";
    }
    
    .section-programa-texto h3 {
        font-size: 34px;
    }

    .section-programa-texto p {
        font-size: 16px;
    }    

    .section-programa-imagen img {
        height: 400px;
        margin-top: -24px;
    }
}

// section-perfil 320

.section-perfil {
    padding: 40px 0;
}

.section-perfil .container {
    display: flex;
    flex-direction: column;
}

.section-perfil-texto h6 {
    font-weight: 800;
    color: rgb(172, 172, 172);
}

.section-perfil-texto h3 {
    padding: 8px 0 16px 0;
    font-size: 24px;
    font-weight: 700;
}

.section-perfil-texto p {
    font-size: 14px;
    width: 100%;
}

.section-perfil-imagen {
    width: 100%;
    margin-top: 32px;
}

.section-perfil-imagen img {
    width: 100%;
    height: 320px;
}

// section-perfil 540

@media only screen and (min-width: 540px) {
    .section-perfil-texto p {
        font-size: 14px;
        width: 90%;
    }
    
    .section-perfil-imagen img {
        width: 90%;
    }
}

// section-perfil 768

@media only screen and (min-width: 768px) {
    .section-perfil .container {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-areas: "texto imagen";
    }

    .section-perfil-texto {
        grid-area: texto;
    }

    .section-perfil-texto h3 {
        font-size: 30px;
        width: 70%;
    }

    .section-perfil-texto p {
        font-size: 14px;
    }

    .section-perfil-imagen img {
        height: 340px;
        width: 100%;
    }

    .section-perfil-imagen {
        grid-area: imagen;
    }
}

// section-perfil 992

@media only screen and (min-width: 992px) {
    .section-perfil .container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "texto imagen";
    }
    
    .section-perfil-texto h3 {
        font-size: 34px;
    }

    .section-perfil-texto p {
        font-size: 16px;
    }    

    .section-perfil-imagen img {
        height: 400px;
        margin-top: -24px;
    }
}

// section-impacto 320

.section-impacto {
    padding: 40px 0;
}

.section-impacto .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-impacto h6 {
    text-align: center;
    font-weight: 800;
    color: rgb(168, 164, 164);
}

.section-impacto h3 {
    font-weight: 600;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.section-impacto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-impacto-cajas {
    width: 90%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px rgb(216, 216, 216);
    border-radius: 10px;
    margin: 20px;
}

.section-impacto-cajas h4 {
    font-size: 60px;
    font-weight: 600;
    color: rgb(156, 157, 231);
}

.section-impacto-cajas h5 {
    font-weight: 600;
}

.section-impacto-cajas p {
    text-align: center;
    width: 70%;
    font-size: 16px;
}

// section-impacto 540

@media only screen and (min-width: 540px) {
    .section-impacto h3 {
        font-size: 32px;
    }

    .section-impacto-cajas {
        width: 80%;
        height: 200px;
    }
}

// section-impacto 768

@media only screen and (min-width: 768px) {
    .section-impacto h3 {
        font-size: 36px;
    }

    .section-impacto-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 750px;
    }

    .section-impacto-cajas {
        width: 33%;
        height: 240px;
    }

    .section-impacto-cajas h4 {
        font-size: 48px;
    }

    .section-impacto-cajas h5 {
        font-size: 16px;
    }

    .section-impacto-cajas p {
        font-size: 14px;
        width: 90%;
    }
}

// section-impacto 992

@media only screen and (min-width: 992px) {
    .section-impacto h3 {
        font-size: 40px;
    }

    .section-impacto-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 980px;
    }

    .section-impacto-cajas {
        width: 33%;
    }

    .section-impacto-cajas h4 {
        font-size: 60px;
    }

    .section-impacto-cajas h5 {
        font-size: 20px;
    }

    .section-impacto-cajas p {
        font-size: 16px;
        width: 70%;
    }
}

// section-impacto 1200

@media only screen and (min-width: 1200px) {
    .section-impacto-cajas {
        width: 28%;
    }

    .section-impacto-container {
        width: 1200px;
    }
}

// section-empresas 320

.section-empresas {
    padding: 40px 0;
}

.section-empresas h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.section-empresas-caja {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.mercadolibre {
    width: 80px;
}

.amazon {
    width: 80px;
    margin-top: 8px;
}

.globant {
    width: 80px;
    margin-top: -4px;
}

.google {
    width: 80px;
    height: 30px;
}

.facebook {
    width: 40px;
    height: 30px;
}

.accenture {
    width: 80px;
    margin-top: -12px;
}

// section-empresas 375

@media only screen and (min-width: 375px) {
    .section-empresas h3 {
        font-size: 26px;
    }

    .section-empresas-caja img {
       margin: 0 10px;
    }
}

// section-empresas 425

@media only screen and (min-width: 425px) {
    .section-empresas-caja img {
       margin: 0 20px;
    }
}

// section-empresas 768

@media only screen and (min-width: 768px) {
    .section-empresas h3 {
        font-size: 28px;
    }

    .section-empresas-caja {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .section-empresas-caja img {
        margin: 0;
    }

    .mercadolibre {
        width: 100px;
    }

    .amazon {
        width: 100px;
    }

    .globant {
        width: 100px;
    }

    .google {
        width: 100px;
        height: 36px;
    }

    .facebook {
        width: 54px;
        height: 36px;
    }

    .accenture {
        width: 100px;
    }
}

// section-empresas 992

@media only screen and (min-width: 992px) {
    .section-empresas h3 {
        font-size: 32px;
    }

    .mercadolibre {
        width: 140px;
    }

    .amazon {
        width: 120px;
    }

    .globant {
        width: 140px;
    }

    .google {
        width: 140px;
        height: 40px;
    }

    .facebook {
        width: 60px;
        height: 40px;
    }

    .accenture {
        width: 140px;
    }
}

// section-metodologia 320

.section-metodologia {
    padding: 40px 0;
}

.section-metodologia .container {
    display: flex;
    flex-direction: column;
}

.section-metodologia-texto h6 {
    font-weight: 800;
    color: rgb(172, 172, 172);
}

.section-metodologia-texto h3 {
    padding: 8px 0 16px 0;
    font-size: 24px;
    font-weight: 700;
}

.section-metodologia-texto p {
    font-size: 14px;
    width: 100%;
}

.section-metodologia-imagen {
    width: 100%;
    margin-top: 32px;
}

.section-metodologia-imagen img {
    width: 100%;
    height: 320px;
}

// section-metodologia 540

@media only screen and (min-width: 540px) {
    .section-metodologia-texto p {
        font-size: 14px;
        width: 90%;
    }
    
    .section-metodologia-imagen img {
        width: 90%;
    }
}

// section-metodologia 768

@media only screen and (min-width: 768px) {
    .section-metodologia .container {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-areas: "imagen texto";
        grid-gap: 32px;
    }

    .section-metodologia-texto {
        grid-area: texto;
    }

    .section-metodologia-texto h3 {
        font-size: 30px;
        width: 70%;
    }

    .section-metodologia-texto p {
        font-size: 14px;
    }

    .section-metodologia-imagen img {
        height: 340px;
        width: 100%;
    }

    .section-metodologia-imagen {
        grid-area: imagen;
    }
}

// section-metodologia 992

@media only screen and (min-width: 992px) {
    .section-metodologia .container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "imagen texto";
    }
    
    .section-metodologia-texto h3 {
        font-size: 34px;
    }

    .section-metodologia-texto p {
        font-size: 16px;
    }    

    .section-metodologia-imagen img {
        height: 400px;
        margin-top: -24px;
    }
}

// section-pasos 320

.section-pasos {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-pasos .caja {
    width: 100%;
    height: 240px;
    padding: 30px;
}

.section-pasos .caja h6 {
    font-size: 12px;
}

.section-pasos .caja h4 {
    font-size: 60px;
    font-weight: 600;
}

.section-pasos .caja1 {
    background: rgb(178, 204, 238);
}

.section-pasos .caja2 {
    background: rgb(151, 193, 248);
}

.section-pasos .caja3 {
    background: rgb(114, 168, 240);
}

.section-pasos .caja4 {
    background: rgb(84, 149, 233);
}

// section-pasos 768

@media only screen and (min-width: 768px) {
    .section-pasos .caja {
        width: 50%;
    }
}

// section-pasos 992

@media only screen and (min-width: 992px) {
    .section-pasos .caja {
        width: 25%;
    }
}

// section-skills 320

.section-skills {
    padding: 40px 0;
}

.section-skills .container {
    display: flex;
    flex-direction: column;
}

.section-skills-texto h6 {
    font-weight: 800;
    color: rgb(172, 172, 172);
}

.section-skills-texto h3 {
    padding: 8px 0 16px 0;
    font-size: 24px;
    font-weight: 700;
}

.section-skills-texto p {
    font-size: 14px;
    width: 100%;
}

.section-skills-imagen {
    width: 100%;
    margin-top: 32px;
}

.section-skills-imagen img {
    width: 100%;
    height: 320px;
}

// section-skills 540

@media only screen and (min-width: 540px) {
    .section-skills-texto p {
        font-size: 14px;
        width: 90%;
    }
    
    .section-skills-imagen img {
        width: 90%;
    }
}

// section-skills 768

@media only screen and (min-width: 768px) {
    .section-skills .container {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-areas: "texto imagen";
    }

    .section-skills-texto {
        grid-area: texto;
    }

    .section-skills-texto h3 {
        font-size: 30px;
        width: 70%;
    }

    .section-skills-texto p {
        font-size: 14px;
    }

    .section-skills-imagen img {
        height: 340px;
        width: 100%;
    }

    .section-skills-imagen {
        grid-area: imagen;
    }
}

// section-skills 992

@media only screen and (min-width: 992px) {
    .section-skills .container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "texto imagen";
    }
    
    .section-skills-texto h3 {
        font-size: 34px;
    }

    .section-skills-texto p {
        font-size: 16px;
    }    

    .section-skills-imagen img {
        height: 400px;
        margin-top: -24px;
    }
}

// section-experiencias 320

.section-experiencias {
    padding: 60px 0;
}

.section-experiencias h6 {
    font-weight: 800;
    color: rgb(196, 196, 196);
    text-align: center;
}

.section-experiencias h3 {
    font-size: 24px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin: 20px 0;
}

.section-experiencias p {
    font-weight: lighter;
}

.section-experiencias-cajas {
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: 
    "caja1"
    "caja2";
    grid-gap: 20px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 14px;
    padding: 20px 0 40px 0;
}

.section-experiencias-cajas h5 {
    font-size: 12px;
}

.section-experiencias .btn-testimonios {
    background: transparent !important;
    border: 2px solid #212529 !important;
    color: black !important;
    font-weight: 600;
}

.section-experiencias .btn-testimonios:hover {
    background: #212529 !important;
    color: rgb(255, 255, 255) !important;
}

.section-experiencias-caja1 {
    grid-area: caja1;
}

.section-experiencias-caja2 {
    grid-area: caja2;
}

// section-experiencias 768

@media only screen and (min-width: 768px) {
    .section-experiencias h3 {
        font-size: 32px;
    }

    .section-experiencias-cajas {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: 
        "caja1 caja2";
    }

    .section-experiencias-cajas p {
        font-size: 14px;
        width: 96%;
    }

    .section-experiencias .btn-testimonios {
        margin-top: -20px;
    }

    .section-experiencias-caja1 {
        grid-area: caja1;
    }

    .section-experiencias-caja2 {
        grid-area: caja2;
    }
}

// section-experiencias 992

@media only screen and (min-width: 992px) {
    .section-experiencias h3 {
        font-size: 34px;
        margin-bottom: 40px;
    }

    .section-experiencias-cajas p {
        font-size: 16px;
        width: 92%;
    }
}

// section-faqs-index 320

.section-faqs-index {
    padding: 40px 0;
}

.section-faqs-index h6 {
    font-weight: 800;
    color: rgb(189, 184, 184);
    text-align: center;
}

.section-faqs-index h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}    

.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accordion-item {
    width: 92% !important;
    margin: 14px 0 !important;
    background: #212529 !important;
    color: white !important;
}

// section-faqs-index 540

@media only screen and (min-width: 540px) { 
    .section-faqs-index h3 {
        font-size: 28px;
    }    

    .accordion-item {
        width: 84% !important;
    }
}

// section-faqs-index 768

@media only screen and (min-width: 768px) { 
    .section-faqs-index h3 {
        font-size: 32px;
    }    

    .accordion-item {
        width: 78% !important;
    }
}

// section-faqs-index 992

@media only screen and (min-width: 992px) { 
    .section-faqs-index {
        padding: 10px 0 60px 0;
    }

    .section-faqs-index h3 {
        font-size: 36px;
    }    

    .accordion-item {
        width: 72% !important;
    }
}